/*
* {
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comofrtaa, Manjari, 
    'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}
*/

:root{
    --standardProjectSize: 200px; 
    --firstProjectSize: calc(2*var(--standardProjectSize));
}
*{
    box-sizing: border-box;
}

body{
font-family: Arial;
margin: 0;
display: flex;
flex-wrap: wrap;
margin: 0;
background-image: url(../images/challenge-2-backdrop.jpg); 
color: white;
}

main{
display: flex;
justify-content: space-between;
padding: 60px;
}

a{
    color: rgb(157, 254, 189);
}
.main-header{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%; 
    font-size: 65 px; 
}

.main-header ul{
    display: flex;
    justify-content: flex-end; 
}
/* 
Line break source 
https://tobiasahlin.com/blog/flexbox-break-to-new-row/
*/

.break {
    flex-basis: 100%; 
    height: 0; 
}

.card {
    flex: 1 0 var(--standardProjectSize);
    padding: 0px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(250, 135, 171);
    max-height:500px;
}



/* stock images from unsplash.com */
/*STANDARD CARD STYLES*/
.card img{  
    height: 40%;
    width: 40%;
    margin: 0;
    padding: 0; 

}
.card header{
    padding: 0px;
}

.card ul{
    display:none;
}

.card:hover{
    border-color:darkblue;
    cursor:pointer;
    display:block;
    

}

.card:hover ul{
    display:block;
}

/*FIRST PROJECT STYLES*/
.first-project-card {
    flex: 1 0 var(--firstProjectSize);
    padding: 0px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(250, 135, 171);
}

.first-project-card img{  
    height: 40%;
    width: 40%;
    margin: 0;
    padding: 0; 

}
.first-project-card header{
    padding: 0px;
}

.first-project-card ul{
    display:none;
}

.first-project-card:hover{
    border-color:darkblue;
    cursor:pointer;
    display:block;
    

}

.first-project-card:hover ul{
    display:block;
}



.about-me-card {
    display:flex; 
    flex-wrap: wrap;
    padding: 0px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin-left: 2%; 
    margin-right: 2%; 
    border-color: rgb(250, 135, 171);
}

.about-me-card p {
    text-align: left; 
}
 
.projects-card {
    display:block; 
    background-color: rgb(15, 26, 31); 
    width: 100%; 
    height: 100%; 
    font-size: 36px; 
}
   
.contact-me-card {

    background-color: rgb(64, 34, 78);
    font-size: 100%;
}


/*tablet*/
@media screen and (min-width:600px){
    :root{
        --standardProjectSize: 500px;
    } 
}

@media screen and (min-width: 780px){


.contact-me-card{
    font-size: 40px; 
}
}

/*desktop*/
@media screen and (min-width: 1020px){
.contact-me-card{
    display:block; 
    float: auto; 
    
}

}

